body {
    display: flex;
    justify-content: center;

    font-size: 25px;
    outline: none;
    background-color: #3d3d3d;
}

.container {
    width: 400px;
    height: auto;
}

.score-block {
    display: flex;
    justify-content: center;

    padding: 20px;

    color: white;
    border-radius: 5px;
    background-color: cornflowerblue;
}

.score-block.active {
    color: red;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;

    padding: 20px;
    margin-top: 100px;

    border-radius: 5px;
    border: 2px solid cornflowerblue;
}

.wrapper-score {
    display: flex;
    justify-content: center;

    margin-top: 50px;

    gap: 20px;
}

.set-block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.set-block-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    color: white;
}

.moving-block {
    display: flex;
    justify-content: center;

    margin-top: 10px;
}